<div>
  <h1>Cart id: {{_id}}</h1>
  
  {{#each productsInCart}}
    <div class="card m-10">
      <div class="card-header">
      </div>
      <div class="card-body">
        <p class="card-text">Id original del producto: {{this.productId}}</p>
        <p class="card-text">Id para borrar: {{this._id}}</p>
        <p class="card-text">Quantity: {{this.quantity}}</p>
      </div>
    </div>
  {{/each}}
</div>